<a href="https://colab.research.google.com/github/Greicianne/AnimaCursoDeExtensaoPythonPandas2023-1/blob/main/Primeira_exemplo_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Primeiro de manipulação de dados usando Python Pandas

Autor: Greiciane

Data: 06/02/23

In [ ]:
#para instalar, use esse comando
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
#Importando bibliotecas pandas no Python
import pandas as pd

Combustiveis_df = pd.read_excel("ca-2021-02.xlsx")

In [ ]:
#usa o print para ver o dataframe!
print(Combustiveis_df)

In [ ]:
display(Combustiveis_df)

In [ ]:
#Exibe as primeiras 5 linhas
display(Combustiveis_df.head())

In [ ]:
#quero, na verdade, exibir as primeiras 15 linhas
display(Combustiveis_df.head(15))

In [23]:
#Comandos Dataframe.shape e DataFrame.describe()
print(Combustiveis_df.shape)
#Mostra o número de linhas e colunas (linhs, colunas)
print(Combustiveis_df.shape[0])

(168409, 16)
168409

In [ ]:

#Mostra o número de linhas e colunas (linhs, colunas)
print(Combustiveis_df.shape[0])

In [19]:
#Quais são as colunas e que tipo de dados cada um tem...
print(Combustiveis_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168409 entries, 0 to 168408
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     168409 non-null  object
 1   Estado - Sigla     168409 non-null  object
 2   Municipio          168409 non-null  object
 3   Revenda            168409 non-null  object
 4   CNPJ da Revenda    168409 non-null  object
 5   Nome da Rua        168409 non-null  object
 6   Numero Rua         168353 non-null  object
 7   Complemento        35057 non-null   object
 8   Bairro             168043 non-null  object
 9   Cep                168409 non-null  object
 10  Produto            168409 non-null  object
 11  Data da Coleta     168409 non-null  datetime64[ns]
 12  Valor de Venda     168409 non-null  float64
 13  Valor de Compra    0 non-null       float64
 14  Unidade de Medida  168409 non-null  object
 15  Bandeira           168409 non-null  object
dtypes: datetime64[ns](1), float64(2), object(13)
memory usage: 20.6+ MB
None

In [24]:
#describe() mostra estatisticas "mais basicas" que a gente precisa
print(Combustiveis_df.describe())

       Valor de Venda  Valor de Compra
count   168409.000000              0.0
mean         6.005184              NaN
std          0.794541              NaN
min          2.849000              NaN
25%          5.339000              NaN
50%          5.859000              NaN
75%          6.699000              NaN
max          8.990000              NaN

In [27]:
#Filtrar por apenas uma coluna
display(Combustiveis_df['Revenda'])

0                               POSTO ARAPIRACA LTDA
1                               POSTO ARAPIRACA LTDA
2                               POSTO ARAPIRACA LTDA
3                               POSTO ARAPIRACA LTDA
4                               POSTO ARAPIRACA LTDA
                             ...
168404    COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA
168405             ABC DISTRIBUICAO DE PETROLEO LTDA
168406             ABC DISTRIBUICAO DE PETROLEO LTDA
168407             ABC DISTRIBUICAO DE PETROLEO LTDA
168408             ABC DISTRIBUICAO DE PETROLEO LTDA
Name: Revenda, Length: 168409, dtype: object

In [30]:
#Aqui criamos um novo dataframe apenas com as colunas que eu quero..
ca_df = Combustiveis_df[['Revenda', 'Municipio', 'Valor de Venda']] 
display(ca_df)

                                           Revenda  Municipio  Valor de Venda
0                             POSTO ARAPIRACA LTDA  ARAPIRACA           6.799
1                             POSTO ARAPIRACA LTDA  ARAPIRACA           5.299
2                             POSTO ARAPIRACA LTDA  ARAPIRACA           5.549
3                             POSTO ARAPIRACA LTDA  ARAPIRACA           6.899
4                             POSTO ARAPIRACA LTDA  ARAPIRACA           5.649
...                                            ...        ...             ...
168404  COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA     JEQUIE           5.859
168405           ABC DISTRIBUICAO DE PETROLEO LTDA  ITUIUTABA           6.580
168406           ABC DISTRIBUICAO DE PETROLEO LTDA  ITUIUTABA           4.740
168407           ABC DISTRIBUICAO DE PETROLEO LTDA  ITUIUTABA           5.448
168408           ABC DISTRIBUICAO DE PETROLEO LTDA  ITUIUTABA           6.580

[168409 rows x 3 columns]

In [31]:
#Exibe a 4a. linha.
display(ca_df.loc[3])

Revenda           POSTO ARAPIRACA LTDA
Municipio                    ARAPIRACA
Valor de Venda                   6.899
Name: 3, dtype: object

In [32]:
#Exibir da 10a. linha até a 20a.linha
display(ca_df.loc[9:19])

                                  Revenda        Municipio  Valor de Venda
9          AUTO POSTO FREITAS & MAIA LTDA  DELMIRO GOUVEIA           5.983
10               AUTO POSTO DA PEDRA LTDA  DELMIRO GOUVEIA           7.197
11               AUTO POSTO DA PEDRA LTDA  DELMIRO GOUVEIA           5.987
12               AUTO POSTO DA PEDRA LTDA  DELMIRO GOUVEIA           5.978
13               AUTO POSTO DA PEDRA LTDA  DELMIRO GOUVEIA           5.989
14  COMERCIO DE COMBUSTIVEIS NENZITA LTDA  DELMIRO GOUVEIA           7.175
15  COMERCIO DE COMBUSTIVEIS NENZITA LTDA  DELMIRO GOUVEIA           5.930
16  COMERCIO DE COMBUSTIVEIS NENZITA LTDA  DELMIRO GOUVEIA           5.955
17  COMERCIO DE COMBUSTIVEIS NENZITA LTDA  DELMIRO GOUVEIA           7.175
18  COMERCIO DE COMBUSTIVEIS NENZITA LTDA  DELMIRO GOUVEIA           5.980
19         MARCOS ANTONIO DA SILVA CABRAL      ITACOATIARA           6.990

In [ ]:
# Criar um dataframe gas_df contendo 
# apenas as 4 colunas (Revenda, Municipio, Produto, Valor de Venda)
# somente com combustível sendo GASOLINA e exibir na tela
gas_df = ca_df.loc[ca_df['Produto'] == 'GASOLINA']
display(gas_df)

display(gas_df['Valor de Venda'].max())

In [9]:
import pandas as pd

Combustiveis_df = pd.read_excel("ca-2021-02.xlsx")

In [ ]:
#DataFrame.loc[] com múltiplas condições para filtragem
#Quais são os preços, postos que vendem ETANOL na minha cidade (INDAIATUBA) 
#ordenado do menor valor de venda para o maior
etanol_indaiatuba_df = ca_df.loc[(ca_df['Produto'] == 'ETANOL') & 
                                 (ca_df['Municipio'] == 'INDAIATUBA')]
display(etanol_indaiatubatuba_df.sort_values(by='Valor de Venda'))

In [ ]:
#Qual a média de preços dos combustíveis GASOLINA e GASOLINA ADITIVADA do Bairro MOOCA em SÃO PAULO?
display(Combustiveis_df.loc[(Combustiveis_df['Bairro'] == 'MOOCA') & 
                            (Combustiveis_df['Municipio'] == 'SAO PAULO') &
                            ((Combustiveis_df['Produto'] == 'GASOLINA') | (Combustiveis_df['Produto'] == 'GASOLINA ADITIVADA'))])

In [ ]:
# Qual a média de preços dos combustíveis GASOLINA e GASOLINA ADITIVADA do Bairro MOOCA em SÃO PAULO?
display(Combustiveis_df.loc[(Combustiveis_df['Bairro'] == 'MOOCA') & 
                            (Combustiveis_df['Municipio'] == 'SAO PAULO') & 
                            (Combustiveis_df['Produto'].isin(["GASOLINA", "GASOLINA ADITIVADA"])), 
                            ['Valor de Venda']].mean())

In [ ]:
#Como mostrar média de valor de venda por Cumbustível?
display (ca_df[['Produto','Valor de Venda']])

In [ ]:
# Como mostrar média de valor de venda POR COMBUSTÍVEL Brasil todo?
media_por_combustivel_df= ca_df[['Produto', 'Valor de Venda']].groupby(by='Produto').mean().round(2) 
display(media_por_combustivel_df)

In [ ]:

# Como mostrar média de valor de venda POR COMBUSTÍVEL Brasil todo?
media_por_combustivel_df = ca_df[['Produto', 'Valor de Venda']]
display(media_por_combustivel_df)

In [ ]:
#Quero adicionar uma coluna de valor booleano no combustiveis_df
# chamada "Ativo" que, por padrão, vai ser True para 
# TODAS as linhas
combustiveis_df['Ativo'] = True
print(combustiveis_df.info())
display(combustiveis_df.head())